.ipynb_checkpoints/
EGFN/.ipynb_checkpoints/
Nyberg GFN/.ipynb_checkpoints/
SH GFN and TH GFN/.ipynb_checkpoints/
SM10 GFN/.ipynb_checkpoints/
Type 1.x/.ipynb_checkpoints/
Type-1/.ipynb_checkpoints/
Type-2/.ipynb_checkpoints/